@import "../../index.scss";

footer {
  z-index: 999;
  position: fixed;
  -webkit-box-shadow: 0px -12px 10px -14px rgba(101,101,101,0.44); 
  box-shadow: 0px -12px 10px -14px rgba(101,101,101,0.44);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  p{
    color: $primary-background
  }
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}
