// Colors
$primary-background: #2859a3;
$secondary-backgorund: rgb(253, 253, 253);
$third-background: #f8f8f8;

//Special color:
$error: rgb(236, 164, 164);

//Text-colors
$primary-text: white;

//Button colors
$d-button: rgb(221, 52, 52);
$d-button-h: rgb(247, 112, 112);
$p-button: #0f83f7;
$p-button-h: #55a6f8;

//Fonts
$p-font: "Lilita One", cursive;

//Buttons
.settings-button {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 6px 7px 4px 7px;
  cursor: pointer;
  background-color: $primary-background;
  &:hover {
    background-color: $p-button;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: lightgray;
  }
}
.submit-button {
  color: white;
  background-color: $p-button;
  border-radius: 5px;
  font-size: 1.4rem;
  border: none;
  padding: 7px;
  cursor: pointer;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.116);
  &:hover {
    background-color: $p-button-h;
    color: rgb(241, 238, 238);
  }
  &:focus {
    outline: none;
    border: 1px solid $p-button-h;
    border-radius: 5px;
  }
  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
}
.x-button {
  padding: 7px 8px 4px 8px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(68, 68, 68);
  margin: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    color: rgb(134, 133, 133);
  }
  &:focus {
    outline: none;
  }
}
.add-button {
  border-radius: 50%;
  padding: 5px 5px 1px 5px;
  font-weight: bold;
  margin: auto;
  font-size: 1.2rem;
  color: white;
  background-color: $p-button;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: $p-button-h;
  }
  &:disabled {
    background: rgb(207, 205, 205);
  }
  &:focus {
    outline: none;
  }
}
.delete {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 7px;
  cursor: pointer;
  background-color: $d-button;
  &:hover {
    background-color: $d-button-h;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: lightgray;
  }
}
.cancel {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 7px;
  margin: 5px 5px;
  cursor: pointer;
  background-color: $p-button;
  &:hover {
    background-color: $p-button-h;
  }
  &:focus {
    outline: none;
  }
}
.back__button {
  .back__button__arrow {
    padding-top: 6px;
    margin-right: 3px;
  }
}
///////Input type text
input[type="text"] {
  border-radius: 30px;
  padding: 0.5rem;
  font-size: 1.2rem;
  &:focus {
    outline: none;
    border: 2px solid $p-button-h;
    border-radius: 30px;
  }
}
:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #17325a;
}
main {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  border-radius: 0.5rem;
  margin: 10px;
  padding: 20px;
}
a {
  text-decoration: none;
}
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}
.index__content {
  max-width: 960px;
  margin: auto;
  padding: 0 10% 10% 10%;
}
h2 {
  text-align: center;
}
.error {
  background-color: rgb(236, 164, 164);
  padding: 1rem;
  border-radius: 0.5rem;
}
b {
  color: $p-button;
}
.statusOK {
  background-color: rgb(198, 252, 198);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  h4 {
    margin: 0;
  }
  .react-icons {
    color: green;
  }
  .ok {
    margin: 0;
  }
}
label {
  &:hover {
    cursor: pointer;
    color: #133b79;
  }
}
.polls__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  height: 155.94px;
  border-radius: 0.5rem;
}
.polls__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: $secondary-backgorund;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  .polls__li__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2859a3ad;
  }
  .polls__li__poll {
    text-decoration: none;
    color: rgb(61, 95, 189);
    font-weight: bold;
    font-size: 2rem;
    font-family: $p-font;
    &:hover {
      color: rgb(138, 149, 211);
    }
    button {
      position: absolute;
      top: 0;
    }
  }
  .polls__li__choice {
    margin-left: 1rem;
    margin-bottom: 0.4rem;
  }
  .polls__li__date {
    margin: 0;
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;
  }
}
//////////////POLLS PAGE//////////////////////
//100% background picture
.p {
  flex: 1 1;
}
.polls {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  background: url("/images/catfly.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .form {
    .form__container {
      font-family: $p-font;
      margin-top: 30px;
      padding: 20px;
      background: rgb(145, 178, 233);
      background: linear-gradient(
        130deg,
        rgba(145, 178, 233, 1) 0%,
        rgba(237, 250, 255, 1) 100%
      );
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      border-radius: 0.5rem;
      flex: 1 400px;
      position: relative;
      padding-bottom: 60px;
      .form__container__wrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      input {
        font-family: $p-font;
        color: $primary-background;
      }
      .form__button {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .form__question {
        display: flex;
        flex-direction: column;
        h4 {
          text-align: center;
          font-size: 1.2rem;
          font-weight: normal;
        }
        input {
          width: 100%;
        }
        .form__question__button {
          display: flex;
          width: 100%;
          justify-content: center;
          text-align: center;
        }
      }
      .form__container__div {
        width: 50%;
        margin: auto;
      }
      .form__container__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        h6 {
          margin: 0;
          display: none;
        }
        li {
          width: 200px;
          padding: 10px 10px;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
          background: white;
          color: $primary-background;
        }
        .choiceList__div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            padding: 3px 3px 1px 3px;
          }
        }
      }
      .form__submit {
        position: absolute;
        bottom: 0;
      }
    }
  }
  ////////////////////////////////////
  //////////  LIST OF ALL QUESTIONS  ///////////////////
  .question__list {
    width: 960px;
    .question__list__div {
      margin-left: 30px;
      margin-top: 30px;
      .add-button {
        margin-left: 10px;
      }
    }
    .question__list__list {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;
      ul {
        flex: 3 300px;
      }
      .details__ {
        flex: 1 200px;
        height: 150px;
        background-color: rgb(255, 255, 224);
        margin-top: 10px;
        margin-right: 10px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
        border-radius: 0.5rem;
        .details__div {
          margin: 1rem;
          p {
            margin: 0;
          }
          h3 {
            margin: 10px 0;
            font-family: $p-font;
            font-size: 1.4em;
            font-weight: normal;
            border-bottom: 1px solid gray;
          }
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////// CHOICES LIST ///////////////////////////////////////////////////
.polls__id {
  max-width: 960px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .submit-button {
    svg {
      padding-top: 8px;
    }
  }
}
.form__choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  div {
    display: flex;
    width: 100%;
  }
  .add-button {
    margin: auto;
  }
  .submit-button {
    margin: auto;
  }
}
.response {
  margin: auto;
  font-family: $p-font;
  font-size: 1.6rem;
  margin-bottom: 30px;
  h2 {
    margin: 10px 0;
  }
  .response__div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choice__form {
    ul {
      margin: auto;
      li {
        padding: 10px;
        margin: 10px auto;
        min-width: 200px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .no__border {
    box-shadow: none !important;
  }
  .choice__div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    .delete {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px 3px 0px 3px !important;
    }
  }
}
//////////////////////////////////////////////////////////
////////////// CHART AND TOTAL VOTES /////////////////////
//////////////////////////////////////////////////////////
.total__votes {
  padding-left: 1rem;
  margin-top: 0rem;
}
.result {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  div {
    margin: auto;
  }
  .displayresult__ {
    margin: 0;
    li {
      margin: 0.4rem;
      margin: 10px;
      padding: 10px;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
///////////////////////////////////////////////////////////////
/////////////// LOGIN AND REGISTER FORM ///////////////////////
///////////////////////////////////////////////////////////////
.login {
  margin-top: 20px;
  .loginform {
    max-width: 300px;
    margin: auto;
    padding: 1.6rem 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      margin: 10px;
    }
    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      input {
        margin: auto;
        border-radius: 30px;
        padding: 4px 0 4px 8px;
        border: 1px solid rgba(0, 0, 0, 0.301);
        font-size: 1.1rem;
        &:focus {
          outline: none;
          border: 1px solid $p-button-h;
          border-radius: 30px;
        }
      }
    }
    .loginform__error {
      background-color: $error;
      border-radius: 0.5rem;
      p {
        font-size: 0.7rem;
        padding: 5px 10px;
        margin: 0;
      }
    }
  }
}
/////////NPROGRESS SPINNER CSS//////////
#nprogress {
  .bar {
    background: red;
  }
  .spinner {
    top: 20px;
    left: 10px;
  }
  .spinner-icon {
    border-top-color: rgb(221, 40, 34);
    border-left-color: red;
  }
  .peg {
    box-shadow: 0 0 10px red, 0 0 5px red;
  }
}
////////////////////// PROFILE PAGE ///////////////////
.profile {
  margin-top: 30px;
  width: 100%;
  .profile__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: auto;

    p {
      margin: 5px 0;
    }
    .header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background: rgb(58, 89, 180);
      background: linear-gradient(
        315deg,
        rgba(69, 245, 252, 1) 0%,
        rgba(29, 166, 253, 1) 50%,
        rgba(58, 89, 180, 1) 100%
      );
      height: 80px;

      h1 {
        color: white;
        margin: 0 10px;
      }
      // .header__left {
      // }
      .header__right {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          margin-right: 10px;
        }
      }
    }
    .flex-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 3px;
      padding: 0px 0px 0px 0px;
      width: 100%;
      margin-bottom: 70px;
      background-color: #c4e0fa;
      .columns {
        padding: 10px;
        background-color: rgb(247, 253, 255);
      }
      .img {
        img {
          max-width: 100%;
          margin-bottom: -4px;
        }
        grid-area: 1/1/3/3;
        align-self: center;
        justify-self: center;
      }
      .fname {
        grid-column: 3;
      }
      .lname {
        display: block;
      }
      .email {
        grid-column: 3/4;
        display: block;
      }
      .location {
        display: block;
      }
      .description {
        grid-column: 1/5;
      }
      .date {
        display: flex;
        font-size: 0.8rem;
        grid-column: 1/5;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          315deg,
          rgba(69, 245, 252, 1) 0%,
          rgba(29, 166, 253, 1) 50%,
          rgba(58, 89, 180, 1) 100%
        );
        p{
          color: white;
          margin-left: 5px;
        }
      }
    }
  }
}
.delete__popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.377);
  z-index: 90;
  .delete__form {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: $error;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    .x {
      position: absolute;
      top: 10px;
      right: 0px;
      padding-bottom: 3px !important;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        display: flex;
        flex-direction: column;
        input {
          margin: 4px 0 10px 0;
          border-radius: 30px;
          padding: 4px 0 4px 8px;
          border: 1px solid rgba(0, 0, 0, 0.116);
          font-size: 1.1rem;
          &:focus {
            outline: none;
            border: 1px solid $p-button-h;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
.form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.377);
  z-index: 90;
  .form__profile {
    border: 1px solid rgba(0, 0, 0, 0.116);
    position: relative;
    background: rgb(216, 232, 255);
    border-radius: 10px;
    z-index: 100;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    .close-profile-form{
      position: absolute;
      right: 0;
    }
    .profile-form-submit {
      color: white;
      background-color: $p-button;
      border-radius: 30px;
      font-size: 1.4rem;
      border: none;
      padding: 3px 9px;
      cursor: pointer;
      margin: 10px;
      border: 1px solid rgba(0, 0, 0, 0.116);
      &:hover {
        background-color: $p-button-h;
        color: rgb(241, 238, 238);
      }
      &:focus{
        outline: none;
      }
    }
    label {
      display: flex;
      flex-direction: column;
      margin: auto;
      input {
        margin: 4px 0 10px 0;
        border-radius: 30px;
        padding: 4px 0 4px 8px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        font-size: 1.1rem;
        &:focus {
          outline: none;
          border: 1px solid $p-button-h;
          border-radius: 30px;
        }
      }
      textarea {
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        padding: 6px;
        &:focus {
          outline: none;
          border: 1px solid $p-button-h;
          border-radius: 10px;
        }
      }
    }
  }
}
.chart {
  max-width: 600px;
  max-height: 600px;
  min-width: 300px;
}
//////////////////////////////////////////
////////////PRINTART////////////////

.article {
  padding: 0;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .article__cat {
    list-style: none;
    max-width: 400px;
    color: $primary-text;
    background-color: $primary-background;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 10px;
    .article__cat__box {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto;
      .img {
        max-width: 100%;
        border-radius: 0.5rem;
      }
      .article__cat__box__div {
        margin-bottom: 1rem;
      }
      button {
        margin: auto;
      }
    }
  }
}

.img {
  max-width: 100%;
  border-radius: 0.5rem;
}
figure {
  margin: 0;
}

header {
  z-index: 90;
  -webkit-box-shadow: 0px 12px 10px -14px rgba(101, 101, 101, 0.44);
  box-shadow: 0px 12px 10px -14px rgba(101, 101, 101, 0.44);
  width: 100%;
  .header__div {
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__link {
      text-decoration: none;
      h1 {
        font-family: $p-font;
        margin: auto 0;
        padding: 0.5rem;
        font-weight: bold;
        color: $primary-background;
        &:hover {
          color: purple;
        }
      }
    }
    .login-logout {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      margin: 10px;
      background-color: $p-button;
      border: none;
      padding: 4px 8px;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $p-button-h;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .header__ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    .sep {
      color: #2859a3;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .header__li {
      list-style: none;
      border: none;
      background: none;
      padding: 0;
      .nav__a {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-background;
        text-decoration: none;
        &:hover {
          color: purple;
        }
      }
    }
  }
}
footer {
  z-index: 50;
  position: relative;
  margin-top:auto; 
  -webkit-box-shadow: 0px -12px 10px -14px rgba(101, 101, 101, 0.44);
  box-shadow: 0px -12px 10px -14px rgba(101, 101, 101, 0.44);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  p {
    color: $primary-background;
  }
}
.mobile__nav {
  display: none;
}
.bm-item {
  &:focus {
    outline: none;
  }
}
//MEDIA QUERYS
@media screen and (max-width: 600px) {
  header {
    .header__link {
      height: 100%;
      display: flex;
      h1 {
        margin: auto;
      }
    }
    .header__ul {
      justify-content: center;
      margin: 0;
      .header__li {
        list-style: none;
        border: none;
        background: none;
        padding: 0;
      }
    }
  }
  .result {
    div {
      flex: 1;
      min-width: 200px;
    }
  }
  .question__list {
    width: 100% !important;
  }
  .details__ {
    margin-right: 0 !important;
  }
  .choice__div {
    flex-direction: column;
    input[type="text"] {
      width: 100%;
    }
  }
  .statusOK {
    width: 100%;
  }
  .chart {
    max-width: 300px;
  }
  .form__container__div {
    width: 90% !important;
  }
  .mobile__nav {
    display: block;
  }
  .desktop__nav {
    display: none !important;
  }
  .flex-container {
    .columns {
      padding: 10px;
      background-color: $third-background;
    }
    .img {
      img {
        max-width: 100%;
        margin-bottom: -4px;
      }
      grid-area: 1/1/4/5 !important;
      align-self: center;
      justify-self: center;
    }
    .fname {
      grid-column: 1/3 !important;
    }
    .lname {
      grid-column: 3/5 !important;
      display: block;
    }
    .email {
      grid-column: 1/3 !important;
      display: block;
    }
    .location {
      grid-column: 3/5 !important;
      display: block;
    }
    .description {
      grid-column: 1/5;
    }
    .date {
      grid-column: 1/5;
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }
}
