// Colors
$primary-background: #2859a3;
$secondary-backgorund: rgb(253, 253, 253);
$third-background: #f8f8f8;

//Text-colors
$primary-text: white;

//Button colors
$d-button: rgb(221, 52, 52);
$d-button-h: rgb(247, 112, 112);
$p-button: #0f83f7;
$p-button-h: #55a6f8;

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  // color: white;
}

main {
  width: 100%;
}
ul {
  margin: 0 0 20px 0;
  padding: 0;
}
li {
  list-style: none;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.116);
  margin: 10px;
  padding: 20px;
  background-color: $secondary-backgorund;
}
a {
  font-size: 1.4rem;
  &:hover {
    color: rgb(228, 108, 108);
  }
}
button {
  color: white;
  background-color: $p-button;
  border-radius: 50%;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  margin: 10px;
  &:hover {
    background-color: $p-button-h;
    color: rgb(241, 238, 238);
  }
}
input[type="submit"] {
  color: white;
  background-color: $p-button;
  border-radius: 5px;
  font-size: 1.4rem;
  border: none;
  padding: 7px;
  cursor: pointer;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  &:hover {
    background-color: $p-button-h;
    color: rgb(241, 238, 238);
  }
}
b {
  color: rgb(17, 43, 17);
}
h2 {
  text-align: center;
}
.error {
  background-color: rgb(236, 164, 164);
  padding: 1rem;
  border-radius: 0.5rem;
}
.ok {
  background-color: lightgreen;
  padding: 1rem;
  border-radius: 0.5rem;
}
label {
  &:hover {
    cursor: pointer;
    color: gray;
  }
}
.polls__li {
  display: flex;
  flex-direction: column;
  position: relative;
  .polls__li__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2859a3ad;
  }
  .polls__li__poll {
    text-decoration: none;
    color: rgb(61, 95, 189);
    font-weight: bold;
    &:hover {
      color: rgb(138, 149, 211);
    }
  }
  .polls__li__choice {
    margin-left: 1rem;
    margin-bottom: 0.4rem;
  }
  .polls__li__date {
    margin: 0;
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;
  }
}

.back__button {
  color: white;
  width: 100px;
  background-color: $p-button;
  border-radius: 5px;
  font-size: 1.4rem;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  margin: auto;
  &:hover {
    background-color: $p-button-h;
    color: rgb(241, 238, 238);
  }
}

.polls {
  margin: auto;
  .form {
    flex: 1 200px;
    margin-top: 10px;
    .details {
      margin-top: 10px;
      background-color: rgba(253, 247, 186, 0.692);
      border: 1px solid rgba(0, 0, 0, 0.116);
      border-radius: 0.5rem;
      flex: 1;
      .details__div {
        display: flex;
        justify-content: center;
      }
    }
    .form__ {
      background-color: $third-background;
      border: 1px solid rgba(0, 0, 0, 0.116);
      border-radius: 0.5rem;
      flex: 1 400px;
      position: relative;
      padding-bottom: 60px;
      .form__button {
        position: absolute;
        right: 0;
        padding: 5px 7px;
        background-color: rgba(240, 239, 255, 0);
        color: rgb(68, 68, 68);
        margin: 0.2rem;
        font-size: 1rem;
        font-weight: bold;
        &:hover {
          color: rgb(177, 177, 177);
        }
      }
      .form__question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        label {
          width: 100%;
          &:hover {
            color: black;
          }
        }
      }
      .form__div__choice {
        padding-top: 16px;
      }
      .form__div {
        width: 90%;
        margin: auto;
        li {
          padding: 0 10px;
        }
        .choiceList__div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            background-color: $d-button;
            &:hover {
              background-color: $d-button-h;
            }
          }
        }
        .formChoises {
          display: flex;
          input[type="submit"] {
            border-radius: 50%;
            padding: 2px 8px;
            margin-top: 20px;
            &:disabled {
              background-color: lightgray;
            }
          }
        }
      }
      .form__submit {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .question__list {
    width: 80%;
    margin: auto;
    .question__list__list {
      display: flex;
      flex-wrap: wrap;
      ul {
        flex: 3 300px;
      }
      .details__ {
        flex: 1 200px;
        height: 150px;
        background-color: rgba(255, 255, 224, 0.432);
        margin-top: 10px;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        border-radius: 0.5rem;
        .details__div {
          margin: 1rem;
          h3 {
            border-bottom: 1px solid gray;
          }
        }
      }
    }
  }
}

.polls__id {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.response__div {
  width: 100%;
  display: flex;
  .choice__button {
    margin: auto;
  }
}
.delete {
  border-radius: 5px;
  background-color: $d-button;
  &:hover {
    background-color: $d-button-h;
  }
}
.total__votes {
  padding-left: 1rem;
  margin-top: 0rem;
}
.formChoises {
  display: flex;
  margin: auto;
  input[type="submit"] {
    border-radius: 50%;
    padding: 2px 8px;
    margin-top: 20px;
    &:disabled {
      background-color: lightgray;
    }
  }
}
.response {
  margin: auto;
  .choice__div {
    display: flex;
    justify-content: center;
    button {
      border-radius: 0.5rem;
      background-color: rgb(53, 143, 53);
      &:hover {
        color: rgb(209, 250, 199);
        background-color: rgb(45, 170, 29);
      }
    }
  }
}
.no__choice {
  display: flex;
  flex-direction: column;
  .no__choice__div {
    display: flex;
    margin: auto;
  }
}
.choice__div__button {
  border-radius: 5px;
  background-color: $d-button !important;
  margin: 20px;
  &:hover {
    background-color: $d-button-h !important;
  }
}
.result {
  display: flex;
  flex-wrap: wrap;
  div{
    margin: auto;
    // flex: 1;
    // min-width: 400px;
  }
  .displayresult__ {
    margin: 0;
    li {
      margin: 0.2rem;
      padding: 0 1rem;
      p {
        padding: 0rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .result {
    div{
      flex: 1;
      min-width: 200px;
    }
  }
  .question__list {
    width: 100% !important;
    .question__list__div {
      margin-left: 30px;
    }
  }
  .details__ {
    margin-right: 0 !important;
  }
}
