@import '../../index.scss';

header{
    background-color: $primary-background;
    color: $primary-text;
    border-bottom:1px solid red;
    width: 100%;
    h1{
        margin: 0;
        padding: 0.5rem;
    }
    .header__ul{
        margin: 0;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
        
        .header__li{
            list-style: none;
            border: none;
            background: none;
            padding: 0;
            .nav__a{
                color: white;
                text-decoration: none;
                margin-right: 1rem;
                &:hover{
                    color: purple;
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {

    header{
        h1{
            display: none;
        }
        .header__ul{
            justify-content: center;
            margin: 0;
            .header__li{
                list-style: none;
                border: none;
                background: none;
                padding: 0;
            }
        }
    
    }
  }
  