@import '../../index.scss';

header{
    background-color: $primary-background;
    color: $primary-text;
    border-bottom:1px solid red;
    width: 100%;
    
    .header__div{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header__link{
        color: white;
        text-decoration: none;
        margin: auto 1rem;
        h1{
            margin:auto 0;
            padding: 0.5rem;
        }
    }

    .header__ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        
        .header__li{
            list-style: none;
            border: none;
            background: none;
            padding: 0;
            .nav__a{
                color: white;
                text-decoration: none;
                margin-right: 1rem;
                &:hover{
                    color: purple;
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {

    header{
        .header__link{
            height: 100%;
            display: flex;
            h1{ 
                font-size: 1rem;
                margin: auto;
            }
        }
        .header__ul{
            justify-content: center;
            margin: 0;
            .header__li{
                list-style: none;
                border: none;
                background: none;
                padding: 0;
            }
        }
    
    }
    .login-logout{
        margin: 0 0.5rem !important;
    }
  }
  