@import "../../index.scss";

header {
  z-index: 999;
  -webkit-box-shadow: 0px 12px 10px -14px rgba(101, 101, 101, 0.44);
  box-shadow: 0px 12px 10px -14px rgba(101, 101, 101, 0.44);
  width: 100%;
  .header__div {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__link {
      text-decoration: none;
      h1 {
        font-family: $p-font;
        margin: auto 0;
        padding: 0.5rem;
        font-weight: bold;
        color: $primary-background;
        &:hover {
          color: purple;
        }
      }
    }
    .login-logout {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      margin: 10px;
      background-color: $p-button;
      border: none;
      padding: 4px 8px;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $p-button-h;
      }
    }
  }
  .header__ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    .sep {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .header__li {
      list-style: none;
      border: none;
      background: none;
      padding: 0;
      .nav__a {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-background;
        text-decoration: none;
        &:hover {
          color: purple;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .header__link {
      height: 100%;
      display: flex;
      h1 {
        font-size: 1rem;
        margin: auto;
      }
    }
    .header__ul {
      justify-content: center;
      margin: 0;
      .header__li {
        list-style: none;
        border: none;
        background: none;
        padding: 0;
      }
    }
  }
  .login-logout {
    margin: 0 0.5rem !important;
  }
}
