@import '../../index.scss';

.article {
  padding: 0;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .article__cat {
    list-style: none;
    max-width: 400px;
    color: $primary-text;
    background-color: $primary-background;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 10px;
    .article__cat__box {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
      .img {
        max-width: 100%;
        border-radius: 0.5rem;
      }
      .article__cat__box__div{
          margin-bottom: 1rem;
      }
      button{
        margin: auto;
      }
    }
  }
}

.img {
  max-width: 100%;
  border-radius: 0.5rem;
}
figure{
    margin: 0;
}